@{
    Layout = "_Layout";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        text-align: center;
    }

    .container {
        text-align: center;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 20px;
    }

    .image-container {
        text-align: center;
        margin-top: 20px;
    }

        .image-container img {
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 100%;
            height: auto;
        }
</style>

<div class="container">
    <h2>Done by Hryhoriichuk Denys FeP-23</h2>

    <p>Project: Instagram</p>

    <a href="https://t.me/@@grigoriychuk">Telegram: grigoriychuk</a>

    <p>denys.hryhoriichuk@lnu.edu.ua</p>

    <a href="https://github.com/gr1gor1ychuk/Hryhoriichuk.University.Instagram">Github of Project</a>

    <div class="image-container">
        <img src="https://images.genius.com/3284565a7bb2e908af42f3629eeeca84.1000x563x1.png?text=Project+Image" alt="Project Image">
    </div>
</div>
